@model CapaEntidad.entClientes

@{
    ViewData["Title"] = "EditarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Aquí indicamos que use tu diseño con sidebar
}

<h1>EditarCliente</h1>

<h4>entClientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarCliente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_cliente" class="control-label"></label>
                <input asp-for="id_cliente" class="form-control" />
                <span asp-validation-for="id_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_tipo_cliente" class="control-label"></label>
                <input asp-for="id_tipo_cliente" class="form-control" />
                <span asp-validation-for="id_tipo_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombres" class="control-label"></label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos" class="control-label"></label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dni" class="control-label"></label>
                <input asp-for="dni" class="form-control" />
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="razon_social" class="control-label"></label>
                <input asp-for="razon_social" class="form-control" />
                <span asp-validation-for="razon_social" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ruc" class="control-label"></label>
                <input asp-for="ruc" class="form-control" />
                <span asp-validation-for="ruc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idUsuario" class="control-label"></label>
                <input asp-for="idUsuario" class="form-control" />
                <span asp-validation-for="idUsuario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
