@{
    ViewBag.Title = "Panel Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Estás en el panel de administrador.</p>
<span class="navbar-text text-light">
    Bienvenido, @Context.Session.GetString("nombres_usuario")
</span>

<div class="text-white text-uppercase small fw-bold mt-4">Navegación</div>
<a href="@Url.Action("Tienda", "Producto")" class="btn btn-outline-primary">
    <i class="fas fa-store"></i> Ir a Vista Principal
</a>

