@model CapaEntidad.entUsuario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>entUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_usuario" class="control-label"></label>
                <input asp-for="id_usuario" class="form-control" />
                <span asp-validation-for="id_usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos" class="control-label"></label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password_hash" class="control-label"></label>
                <input asp-for="password_hash" class="form-control" />
                <span asp-validation-for="password_hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rol" class="control-label"></label>
                <input asp-for="rol" class="form-control" />
                <span asp-validation-for="rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_creacion" class="control-label"></label>
                <input asp-for="fecha_creacion" class="form-control" />
                <span asp-validation-for="fecha_creacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
