body {
    font-family: 'Segoe UI', sans-serif;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    min-width: 250px;
}

.list-group-item-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
}

    .list-group-item-dark:hover {
        background-color: #495057;
    }
