body {
    font-family: 'Segoe UI', sans-serif;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    min-width: 250px;
}

.list-group-item-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
}

    .list-group-item-dark:hover {
        background-color: #495057;
    }
/* Estilos modernos para las tarjetas */
.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-outline-success {
    border-radius: 30px;
}
